extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/tweet_file_upload", method="post", enctype="multipart/form-data")
    input(type="file", name="tweets")
    input(type="submit", value="Submit")
