extends layout

block content
  h1= title
  .upload_div
    form(id="tweet_file_form", method="post", enctype="multipart/form-data")
      input(id="btn_tweet_file_choose", type="file", name="tweets")
      input(id="btn_tweet_submit", type="submit", value="Submit")
  .stats_result
    d